mixin similar-posts(opt)
  .similar-posts(class=(opt ? opt.classes : ''))
    .similar-posts__title-bar
      span.similar-posts__title Похожие статьи
      .similar-posts__menu
        .similar-posts__btn-left(id="similarPostsBtnLeft" tabindex="0" role="button" onclick="console.log('test')")
          img(src=require("../img/icons/left-arrow.svg"), alt="left button icon")
        .similar-posts__btn-right(id="similarPostsBtnRight" tabindex="0" role="button" onclick="console.log('test')")
          img(src=require("../img/icons/right-arrow.svg"), alt="right button icon")

    .similar-posts__slider-container
      .similar-posts__row
        include ../../components/card/card.pug
        - var img = require('../img/picture-m2.png')
        +card({classes: 'similar-posts__cards', img: img, text: 'Сколько зарабатывают звезды в социальных сетях + как заработать обычным пользователям'})
        +card({classes: 'similar-posts__cards', img: img, text: 'Сколько зарабатывают звезды в социальных сетях + как заработать обычным пользователям2'})
        +card({classes: 'similar-posts__cards', img: img, text: 'Сколько зарабатывают звезды в социальных сетях + как заработать обычным пользователям3'})
        +card({classes: 'similar-posts__cards', img: img, text: 'Сколько зарабатывают звезды в социальных сетях + как заработать обычным пользователям4'})
        +card({classes: 'similar-posts__cards', img: img, text: 'Сколько зарабатывают звезды в социальных сетях + как заработать обычным пользователям5'})
        +card({classes: 'similar-posts__cards', img: img, text: 'Сколько зарабатывают звезды в социальных сетях + как заработать обычным пользователям6'})
        +card({classes: 'similar-posts__cards', img: img, text: 'Сколько зарабатывают звезды в социальных сетях + как заработать обычным пользователям7'})
        +card({classes: 'similar-posts__cards', img: img, text: 'Сколько зарабатывают звезды в социальных сетях + как заработать обычным пользователям8'})
        +card({classes: 'similar-posts__cards', img: img, text: 'Сколько зарабатывают звезды в социальных сетях + как заработать обычным пользователям9'})