mixin logo(opt)
  .logo(class=opt ? opt.classes : '', type=type)
    .logo__box.logo__box--left
      span.logo__text profi
      span.logo__text.logo__text--colored f
    .logo__box.logo__box--right
      span.logo__text.logo__text--colored ast