@font-face {
  font-family: 'Roboto-Regular';
  src: url('./roboto/Roboto-Regular.eot');
  src: local('PT Sans'), url('./roboto/Roboto-Regular.woff') format('woff'), url('./roboto/Roboto-Regular.ttf') format('truetype'), url('./roboto/Roboto-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('./roboto/Roboto-Bold.eot');
  src: local('PT Sans'), url('./roboto/Roboto-Bold.woff') format('woff'), url('./roboto/Roboto-Bold.ttf') format('truetype'), url('./roboto/Roboto-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url('./roboto/Roboto-Italic.eot');
  src: local('PT Sans'), url('./roboto/Roboto-Italic.woff') format('woff'), url('./roboto/Roboto-Italic.ttf') format('truetype'), url('./roboto/Roboto-Italic.svg') format('svg');
  font-weight: 400;
  font-style: italic;
}