html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./css/main.css")
    title ProfitFast
  body.home
    header.header
      .header__body
        include ../components/logo/logo.pug
        +logo()
        include ../components/nav/nav.pug
        include ../components/search/search.pug
    .wrapper.home__wrapper
      include ../components/breadcrumb/breadcrumb.pug
      h1.visually-hidden Блог ProfitFast
      .row.row--big
        .col-big
          section.content-group
            header.content-group__header main__header
              h2 Сколько зарабатывают звезды в социальных сетях + как заработать обычным пользователям
              .info_bar инфо бар
              img(src="", alt="picture")
              p Содержание
              include ../components/list/base-list.pug
              +base-list({decor: true})
                li Вдали от всех живут они в буквенных домах на берегу Семантика
                li Маленький ручеек Даль журчит по всей стране
                li Даже всемогущая пунктуация не имеет власти над рыбными текстами
            main.main
              p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. 
              blockquote Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка”
              h3 Риторический вопрос
              p Грустный реторический вопрос скатился по его щеке и он продолжил свой путь. По дороге встретил текст рукопись. Она предупредила его: «В моей стране все переписывается по несколько раз:
              +base-list()
                li Единственное, что от меня осталось, это приставка "и"
                li Единственное, что от меня осталось, это приставка "и"
                li Единственное, что от меня осталось, это приставка "и"
              p Возвращайся тым лучше в свою безопасную страну». Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель рекламных текстов, напоивший его языком и речью и заманивший в свое агенство, которое использовало его снова и снова в своих проектах. И если его не переписали, то живет он там до сих пор.
              h4 Маленький ручеек Даль журчит по всей стране
              - 
                var arr = [
                  "Маленький ручеек Даль журчит по всей стране",
                  "Маленький ручеек Даль журчит по всей стране далекой",
                  "Маленький ручеек Даль журчит по всей стране очень далекой",
                ]
              +base-list({orderedLists: arr, cssClass: "main__ol"})
              p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
            footer.content-group__footer
              p 
                span Следующая статья:
                | Как подключиться к Яндекс Такси напрямую и зарабатывать на своем авто + можно ли работать без лицензии на перевозку пассажиров



        .col-small
    footer.footer
      .footer__body
        +logo()
        p footer
    script(src='./js/main.js')