.footer {
  width: 100%;
  min-height: 17.3rem;
  background-color: $color-light;

  &__body {
    width: $layout-width;
    min-height: inherit;
    margin: auto;
    padding: 0 0 0 1.5rem;

    @media (max-width: $tab-land) {
      width: 100%;
    }
    @media (max-width: $phone) {
      width: 100%;
    }
  }
}