.content-group {

  & a,
  & a:link,
  & a:visited {
    border: 1px solid transparent;
    padding-bottom: 2px;

    &:hover {
      border-bottom: 1px solid $grey-2;
    }
  }

  &__informer { // здесь только позиционированиие и внешние отступы для informer
    margin: 2rem 0 3rem 0;
  }

  &__img-holder {
    width: 100%;
    min-height: 20rem;
    overflow: hidden;

    & img {
      display: block;
      max-width: 100%;
      display: none;
    }
  }

  & .synopsis {
    border: 1px solid $color-second;
    max-width: 65.5rem;
    min-height: 15rem;
    padding: 3rem 1rem 2.2rem 3rem;
    margin-top: 3rem;

    &__title {
      display: block;
      font-family: $font-family--bold;
      font-size: $font-size-bigger;
      margin-bottom: 1.5rem;
    }

  }

  &__footer {
    border: 1px solid $color-second;
    min-height: 5rem;
    padding: 1rem 1rem 1rem 1.5rem;
  }
}

.main {

  &__h3 {
    margin-top: 2.7rem;
  }

  &__h4 {
    margin-bottom: 2.5rem;
  }

  &__p {
    margin: 2.3rem 0;
  }

  &__blockquote {
    margin-left: 8.2rem;
  }

  &__ul {
    margin-left: 8.2rem;
  }

  &__ol {
    margin-left: 8.2rem;
  }
}