form.search(name="search")
  label(for="siteSearch")
  input.search__input(type="search" id="siteSearch" name="searchInput" placeholder="Поиск" aria-label="Search through site content")
  input.search__submit(type="submit" id="submitSearch" name="searchSubmit" value="")