mixin share-post(opt)
  section.share-post(class=(opt ? opt.classes : ''))
    p.share-post__title Поделиться статьей
    .share-post__row
      .share-post__btn-holder
      .share-post__btn-holder
      .share-post__btn-holder
      .share-post__btn-holder