// COLORS
$color-light: #ffffff;
$color-main: #101010;
$color-second:#ffcc26;
$color-second--darken: #ffcf34;
$color-third: #e5e5e5;

$color-bg: #f0f0f0;

// FONTS
$font-family: 'PT Sans', 'Arial', sans-serif;
$font-family--bold: 'PT Sans Bold', 'Arial', sans-serif;

$font-size-small: 1.2rem;
$font-size-medium: 1.3rem;
$font-size-regular: 1.4rem;
$font-size-bigger: 1.6rem;
$font-size-x: 2rem;

$line-height: 2rem;

$font-size-h1: 3rem;
$font-size-h2: 2.2rem;

//MEASUREMENTS
$layout-width: 116rem;

// GRID
/* Breakpoints
  0 - 600px:      Phone
  600 - 900px:    Tablet portrait
  900 - 1200px:   Tablet landscape
  [1200 - 1800]   is where our normal styles apply
  1800px + :      Bid desktop
*/
$phone: 37.5em; // 600px / 16px = 37.5em
$tab-port: 56.25em; // 900px / 16 = 56.25em
$tab-land: 75em; // 1200px / 16 = 75em;
$big-desktop: 112.5em; // 1800px / 16 = 112.5

$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-vertical-none: 0;

$gutter-horizontal: 4rem;
$gutter-horizontal--small: 1.5rem;
$gutter-horizontal-none: 0;