.nav {
  width: 100%;
  max-width:  87rem;
  min-height:  2.5rem;
  border: 1px solid red;

  & .nav-ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;

    & .nav-li {
      display: inline-block;
      position: relative;
      font-size: 1.4rem;
      border: 1px solid red;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 3rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.nav-expanded-item {
  display: block;
  min-width: 5rem;

  &__arrow {
    display: inline-block;
    width: 1.45rem;
    height: 1.15rem;
    margin-left: .5rem;

    & .svg-nav-arrow {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__arrow--reversed {
    transform: rotate(180deg);

    & .svg-nav-arrow__path {
        stroke: $color-main;
      }
    }
}

.dropdown-menu {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  border: 1px dashed green;
  left: auto;
  opacity: 1;
  top: 100%;
  visibility: visible;

  &-item {
    display: block;
    color: blue;
  }

  &--hidden {
    left: auto;
    opacity: 0;
    top: 100%;
    visibility: hidden;
  }
}
