.nav {
  width: 100%;
  max-width:  87rem;
  min-height:  2.5rem;
  border: 1px solid red;

  & .nav-ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;

    & .nav-li {
      display: inline-block;
      font-size: 1.4rem;
      border: 1px solid red;

      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
  }
}

.nav-expanded-item {
  display: block;
  min-width: 5rem;

  &__arrow {
    display: inline-block;
    width: 1.45rem;
    height: 1.15rem;
    margin-left: .5rem;

    & .svg-nav-arrow {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__arrow--reversed {
    transform: rotate(180deg);

    & .svg-nav-arrow__path {
        stroke: $color-main;
      }
    }
}