.nav {
  width: 100%;
  max-width:  87rem;
  min-height:  2.5rem;
  border: 1px solid red;
  display: flex;
  align-items: center;

  & .nav-ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;

    & .nav-li {
      display: inline-block;
      position: relative;
      font-size: 1.4rem;
      cursor: pointer;
      margin: .5rem auto;

      &:not(:last-child) {
        margin-right: 3rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.nav-expanded-item {
  display: block;
  min-width: 5rem;

  &__arrow {
    display: inline-block;
    width: 1.45rem;
    height: 1.15rem;
    margin-left: .5rem;
    transition: all .2s ease;

    & .svg-nav-arrow {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__arrow--reversed {
    transform: rotate(180deg);

    & .svg-nav-arrow__path {
        stroke: $color-main;
      }
    }
}

.dropdown-menu {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
  position: absolute;
  min-width: 14rem;
  left: auto;
  opacity: 1;
  top: 111%;
  visibility: visible;
  background-color: $color-light;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  transition: all .4s ease;
  padding: 1rem 0;
  z-index: 999;

  &-item {
    display: block;
    padding: .8rem 1.4rem;
  }

  &--hidden {
    left: auto;
    opacity: 0;
    top: 100%;
    visibility: hidden;
  }
}
