nav.nav
  ul.nav-ul
    li.nav-li.nav-expanded-item Настройка директа
      span.nav-expanded-item__arrow.nav-expanded-item__arrow--reversed
        <svg class="svg-nav-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14.5px" height="11.5px" viewBox="0 0 14.5 11.5">
          <path class="svg-nav-arrow__path" fill-rule="evenodd" stroke="rgb(255, 207, 52)" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M12.507,9.871 L7.000,2.491 L1.493,9.871 "/>
        </svg>
      //- ul.dropdown-menu.dropdown-menu--hidden
      ul.dropdown-menu
        li.dropdown-menu-item 2
        li.dropdown-menu-item 4
        li.dropdown-menu-item 5
    li.nav-li Ведение Яндекс Директ
    li.nav-li Про сайты
    li.nav-li Офф-топик
    li.nav-li Видео курс Яндекс Директ
    li.nav-li.nav-expanded-item Отзывы
      span.nav-expanded-item__arrow.nav-expanded-item__arrow--reversed
        <svg class="svg-nav-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14.5px" height="11.5px" viewBox="0 0 14.5 11.5">
          <path class="svg-nav-arrow__path" fill-rule="evenodd" stroke="rgb(255, 207, 52)" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M12.507,9.871 L7.000,2.491 L1.493,9.871 "/>
        </svg>
      ul.dropdown-menu.dropdown-menu--hidden
        li.dropdown-menu-item 2
        li.dropdown-menu-item 4
        li.dropdown-menu-item 5
